<h3>Product List</h3>
<!--
<select [{ngModel}] = "filterText">
  <option value = 'Select'>Select</option>
  <option value = 'Jewlery'>Jewlery</option>
  <option value = 'Electronics'>Electronics</option>
  <option value = 'Furnature'>Furnature</option>
  <option value = 'Home Decore'>Home Decore</option>
  <option value = 'Kitchenware'>Kitchenware</option>
</select>
-->




<table border="1">
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Photo</th>
        <th>Category</th>
        <th>Buy</th>
    </tr>
    <tr *ngFor="let product of products">
        <td>{{product.name}}</td>
        <td>{{product.price}}</td>
        <td><img src="assets/images/{{product.photo}}" width="50"></td>
        <td>{{product.category}}</td>
        <td>
            <a [routerLink]="['/cart', { id:product.id }]">Buy Now</a>
        </td>
    </tr>
</table>

